@model SettleFramework.Models.PaymentSent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaymentSent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendToEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendToEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendToPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendToPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendToNickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendToNickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendToFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendToFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendToLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendToLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendToAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendToAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendTOAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendTOAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SentTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
